<h1>your request was: <%= @tag %></h1>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Location</th>
        <th>Text</th>
      </tr>
    </thead>
    <tbody>
      <% @tweets.each do |tweet| %>
        <tr>
          <td><%= tweet.user.screen_name %></td>
          <td><%= tweet.user.location %></td>
          <td><%= tweet.text %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
